################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PricingCalculator/.vs/PricingCalculator/v16
/PricingCalculator/PricingCalculator/bin/Debug/netcoreapp3.1
/PricingCalculator/PricingCalculator/obj
/app
/PricingCalculator/PricingCalculatorUnitTest/bin/Debug/netcoreapp3.1
/PricingCalculator/PricingCalculatorUnitTest/obj
